body{
		margin: 0;
		background-color: #FFF2BD;
}

.top-container{
		display:flex;
		justify-content: space-between;
		padding: 5px 10px;
}

.board-container{
		display: flex;
		flex-direction: column;
	  justify-content: flex-start;
}


img#board{
	width: 100vw;
	height:75vh;
	
}

button{
		display: inline-block;
		margin: 5px 8px 5px 20vw;
		width: 20vw;
		background-color: green;
		border: 1px black solid;
		border-radius: 5px;
}

button:active{
		background-color: white;
}

button span#btn, #exp, #answer{
		font-size: 1rem;
}

#exp{
		margin-left: 5px;
}
